@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'DSEG7';
	src: url(./fonts/DSEG7-Classic/DSEG7Classic-Regular.woff) format('woff');
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background: #f1f5f8;
}

main {
	margin: 2em 2em;
}

section {
	max-width: 900px;
	text-align: center;
	background: white;

	margin: 0 auto;
	margin-bottom: 2em;
	padding: 1.5em;
}

table {
	margin: 0 auto;
}

button {
	border: none;
	outline: none;
}

.timer {
	font-family: "DSEG7";
	font-size: 1.9em;
	padding: 0.5em 0;
}

.total-time {
	display: none;
}

@media (min-width: 400px) {
	.timer {
		font-size: 3em;
	}

	.total-time {
		display: initial;
	}
}

@media (min-width: 600px) {
	.timer {
		font-size: 5em;
	}
}

.centiseconds {
	font-size: 0.3em;
}

.btn {
	padding: 1em 2em;
	min-width: 8em;
	transition: filter 0.2s;
	border-radius: 0.2em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

.btn .icon {
	font-size: 1.5em;
	margin-right: 0.2em;
}

.btn:hover {
	filter: brightness(0.9);
}

.btn:active {
	filter: brightness(0.8);
}

.btn[disabled] {
	background-color: #CFCECE;
}

.btn:hover[disabled] {
	filter: none;
}

.btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn-container .btn:not(:last-of-type) {
	margin-bottom: 1em;
}

@media (min-width: 460px) {
	.btn-container {
		flex-direction: row;
		align-items: initial;
	}

	.btn-container .btn:not(:last-of-type) {
		margin-bottom: 0;
		margin-right: 1em;
	}
}

.btn-green {
	background-color: #476a2e;
	color: white;
}

.btn-red {
	color: white;
	background-color: #F84600;
}

.btn-purple {
	color: white;
	background-color: #941BFB;
}

.btn-blue {
	color: white;
	background-color: #358BF5;
}

.btn-orange {
	color: white;
	background-color: #FFA02F;
}

th, td {
	min-width: 5em;
	padding: 0.2em;
	font-weight: 300;
}

th {
	font-size: 1em;
	padding-bottom: 0.5em;
}

@media (min-width: 500px) {
	th {
		font-size: 1.5em;
	}
}

/* Navbar */

nav {
	background-color: #1f2533;
}

.nav-link {
	padding: 1em;
	cursor: pointer;
	color: white;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	transition: background-color 0.2s;
	position: relative;
}

.nav-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	left: 0;
	background-color: transparent;
	transition: all 0.2s;
	border-radius: 0 0 0.3em 0.3em;
}

.nav-link:hover::after {
	height: 1em;
	bottom: -0.5em;
	background-color: #ed1c24;
}

.nav-link:hover {
	background-color: #ed1c24;
}

.nav-link.selected {
	background-color: #ed1c24;
}

.nav-icon {
	font-size: 2em;
}

.nav-text {
	display: none;
}

@media (min-width: 500px) {
	.nav-text {
		display: initial;
	}
}

/* Modal */
.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	background-color: white;
	margin: 0 auto;
	margin-top: 2em;
	width: 80%;
	max-width: 500px;
}

.modal-title {
	background-color: #ed1c24;
	padding: 1em;
	text-align: center;
	color: white;
	position: relative;
}

.modal-title h3 {
	font-weight: lighter;
}

.modal-title button {
	position: absolute;
	right: 0.5em;
	top: calc(50% - 0.5em);
	width: 1em;
	height: 1em;
	font-size: 2em;
	background-color: transparent;
	opacity: 0.5;
	transition: opacity 0.2s;
}

.modal-title button:hover {
	opacity: 1;
}

.modal-content {
	padding: 1em;
	font-size: 0.9em;
}


/* Settings */
.input-row {
	display: flex;
	justify-content: space-around;
}

.input-container {
	display: inline-block;
	padding: 0.5em;
}

.input-container label {
	display: block;
	margin-bottom: 0.5em;
}

.input-container input {
	padding: 0.5em;
	width: 100%;
	border-radius: 0;
	outline: none;
	border: solid 2px rgb(239, 239, 239);
}

.time-input-container {
	display: flex;
	flex-direction: column;
}

.time-input-container button {
	min-height: 2em;
}

.time-input-container button.down {
	transform: rotate(180deg);
}

.time-input-container button:hover {
	filter: brightness(0.95);
}

.time-input-container button:active {
	filter: brightness(0.9);
}

.time-input {
	max-width: 5em;
}

.modal-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-alarm-icon {
	margin-top: 0.2em;
	font-size: 5em;
	margin-bottom: 0.2em;
	color: #358BF5;
}

.modal footer {
	display: flex;
	justify-content: center;
	border-top: 1px solid gray;
	padding-top: 1em;
}

.modal footer .btn {
	margin-right: 0.4em;
}

.modal .timer {
	font-size: 2em;
	margin-bottom: 1em;
}